





img {
    height: 300px;
    width: 600px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 12px;
}

a {
    text-decoration:none;
}

.container {
    display: flex;
    gap: 12px;
    justify-content: space-around;
    align-items: center;
}

.container-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

